* {
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: #EEEEEE;
}

main {
    background-color: #EEEEEE;
}

footer {
    background-image: url(../assets/img/background.png);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__redes {
    padding: 2rem;
}

.imagen__seleccionados {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
}


/*EC644C*/

/*----------ESTILO DE TEXTO----------*/

/* LINK SELECCIONADO DE LA NAV*/
.navbar-light .navbar-nav .active>.nav-link {
    color: #C84B31;
}

/*LINKS DE LA NAV */
.navbar-light .navbar-nav .nav-link{
    color: #FF7F3F;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #184D47;
    background-color: #FFC286;
}

.informacion {
    color:white;
}

.informacion:hover {
    color: white;
    font-weight: bold;
}

.titulo {
    color: #184D47;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.texto {
    color: #66806A;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.link {
    color: #184D47;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0.3rem;
}

.link:hover {
    color: #EA5C2B;
}

.texto__footer {
    color: #EA5C2B;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.titulo__seleccionados {
    color: #184D47;
    background-color: #FED2AA;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

/* FORMULARIO */

.form-control {
    margin: 0.7rem;
    color: #184D47;
    border: solid 1px ;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    background-color: #F3F0D7;
}


.form-control:focus {
    color: #081b19;
    background-color: white;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 127, 63);
    border: none;
}

.form-control::placeholder {
    color:#081b1986
}

.form-check-label, .form-check-input {
    color: #081b19;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding:0.8rem;
}

.btn {
    color: #081b19;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    color:#EEEEEE;
    background-color: #081b19;
}