<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVEDADES - Librería Casa Tomada</title>
    <!--ICONO EN EL NAVEGADOR-->
    <link rel="icon" href="../assets/img/logo.png">
    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- ANIMACIONES -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- MI CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <!-- SE ABRE EL CONTENEDOR -->
    <div class="container-fluid">
        <!-- HEADER -->
        <header class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo_nombre.png" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="novedades.html">Novedades<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="seleccionados.html">Recomendados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--FIN HEADER-->
        <!-- MAIN -->
        <main class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12 d-flex justify-content-center">
                    <h1 class="titulo" data-aos="zoom-in">TÍTULOS RECOMENDADOS POR LA CASA</h1>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-lg-4 col-12">
                    <h2 class="titulo__seleccionados">BOQUITAS PINTADAS</h2>
                    <div class="imagen__seleccionados">
                        <img src="../assets/img/boquitas_pintadas.png" alt="boquitas pintadas" class="img-fluid ">
                    </div>
                    <p class="texto d-none d-lg-block">Boquitas pintadas es una novela del escritor argentino Manuel Puig. Está escrita en forma de folletín y habla de los amores, las mezquindades y las pequeñas miserias de los habitantes de un pueblo.</p>
                    <div class="link">
                        <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <h2 class="titulo__seleccionados">LA LUNA Y LAS FOGATAS</h2>
                    <div class="imagen__seleccionados">
                        <img src="../assets/img/luna_fogatas.png" alt="la luna y las fogatas" class="img-fluid">
                    </div>
                    <p class="texto d-none d-lg-block">En este libro de Cesar Pavese, Anguilla, que ha pasado veinte años en América, regresa a su aldea natal. Anguilla, acompañado por su amigo y guía Nuto, redescubre la tierra en que nació.</p>
                    <div class="link">
                        <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <h2 class="titulo__seleccionados">ME ACUERDO</h2>
                    <div class="imagen__seleccionados">
                        <img src="../assets/img/me_acuerdo.png" alt="me acuerdo" class="img-fluid">
                    </div>
                    <p class="texto d-none d-lg-block">Me acuerdo, el último libro de Martín Kohan exhibe la enumeración de recuerdos que el autor de Ciencias morales evoca al calor de una escritura precisa, ajustada.H abla de su infancia con la frialdad del observador, con la distancia.</p>
                    <div class="link">
                        <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <h2 class="titulo__seleccionados">ORLANDO</h2>
                    <div class="imagen__seleccionados">
                        <img src="../assets/img/orlando.png" alt="orlando" class="img-fluid">
                    </div>
                    <p class="texto d-none d-lg-block">Orlando, la novela biográfica escrita por Virginia Woolf, se trata de una obra en parte biográfica, basada en la vida de la novia de Woolf Vita Sackville-West.</p>
                    <div class="link">
                        <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                        <h2 class="titulo__seleccionados">CIEN AÑOS DE SOLEDAD</h2>
                        <div class="imagen__seleccionados">
                            <img src="../assets/img/cienaniosdesoledad.png" alt="cien años de soledad" class="img-fluid">
                        </div>
                        <p class="texto d-none d-lg-block">Cien años de soledad es una novela del escritor colombiano Gabriel García Márquez, considerada una obra maestra de la literatura hispanoamericana y universal, y una de las obras más traducidas y leídas en español.​</p>
                        <div class="link">
                            <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                        </div>
                </div>
                <div class="col-lg-4 col-12">
                    <h2 class="titulo__seleccionados">REBELIÓN EN LA GRANJA</h2>
                    <div class="imagen__seleccionados">
                        <img src="../assets/img/rebelion.png" alt="rebelion en la granja" class="img-fluid">
                    </div>
                    <p class="texto d-none d-lg-block">Rebelión en la granja es una novela corta satírica del escritor británico George Orwell. Publicada en 1945, la obra es una fábula mordaz sobre cómo el régimen soviético de Iósif Stalin corrompe el socialismo.</p>
                    <div class="link">
                        <a href="seleccionados.html" class="link">¡Lo quiero!</a>
                    </div>
                </div>
            </div>
        </main>
        <!-- FOOTER -->
        <footer class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 d-flex justify-content-lg-center align-self-center justify-content-center">
                    <H3 class="texto__footer">CONTACTANOS</H3>
                </div>
                <div class="col-lg-6 col-12 d-flex justify-content-center align-self-center footer__logos">
                    <a href="https://www.facebook.com/"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=56&color=ff7f3f" alt="facebook" class="footer__redes"></a>
                    <a href="https://www.twitter.com/"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=56&color=ff7f3f" alt="facebook" class="footer__redes"></a>  
                    <a href="https://www.instagram.com/"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=56&color=ff7f3f" alt="facebook" class="footer__redes"></a>                      
                </div>
            </div>
        </footer>
    </div>
    <!--SE CIERRA EL CONTENEDOR-->
    <!-- ANIMACIONES -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>